.notification{
    width:300px;
    height:80px;
    padding-left:20px;
    padding-right:10px;
    padding-top:4px;
    background-color: rgba(0, 0, 0, 0.541);
    margin:10px;
    transition: width 2s, opacity 0.25s;
    transition-timing-function: ease-in-out;
    animation: fadein 0.5s;
    border-radius: 5px;
}
@keyframes fadein {
    from { height: 0}
    to   { height: 80px}
  }

.closebtn {
    color: rgba(255, 255, 255, 0.601);
    /*font-weight: bold;*/
    float: right;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    transition: 0.25s;
    animation: slide 0.5s;
  }
  @keyframes slide {
    from { font-size: 0}
    to   { font-size: 16px}
  }
  .content{
        margin-top:20px;
        font-size: 12px;
        opacity: 0.8;
        color: rgba(255, 255, 255);
        user-select: all; 
       animation: fadeOut 2s;

  }
  
  @keyframes fadeOut {
    from { opacity: 0}
    to   { opacity: 0.8}
  }