//------------------------basic login--------------------------//
.leftHalf {
    background-image: url('../../../images/technology-login.jpg');
}
.submitButton{
    background-color: #3b4279;
    color: white;
}
.submitButton:hover {
    background-color: #252a4d;
  }