@import "../../color-palette.scss";
//------------------------basic login--------------------------//
.leftHalf {
    background-image: url('../../../images/technology-login.jpg');
}
.submitButton{
    background-color: $primary-lt;
    color: $on-primary-lt;
}
.submitButton:hover {
    background-color: $primary-dark-lt;
  }
  .link{
    color:$info-lt;
  }
  .validation{
    color:$error-lt;
  }