/*the container must be positioned relative:*/
.customSelect {
  position: relative;
  font-family: Arial;

  padding-top: 15px;
  position: relative;
  font-family: Arial;

  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 13.3333px;
  line-height: normal;
  font-family: Arial;
}

.customSelect select {
  display: none; /*hide original SELECT element:*/
}

.selectSelected {
  background-color: rgba(252, 252, 252, 0);

}

.lableleftSelectSelected {
  background-color: rgba(255, 255, 255, 0);
}

/*style the arrow inside the select element:*/
.selectSelected:after {
  position: absolute;
  content: "";


      top: 10px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: rgb(68, 68, 68) transparent transparent transparent;
  
}
.lableleftSelectSelected:after {
  position: absolute;
  content: "";

  /*bootstrap grid column class add additional padding 15 px to field.
  inorder to keep arrow icon in correct place added flowing line  right: 25px;top: 35px;
  and commented
      top: 16px;
  right: 10px;*/
  right: 25px;
  top: 15px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
  
}

/*point the arrow upwards when the select box is open (active):*/
.selectSelected.selectArrowActive:after {
  border-color: transparent transparent rgb(68, 68, 68) transparent;
  top: 5px;
}
.lableleftSelectSelected.selectArrowActive:after {
  border-color: transparent transparent #fff transparent;
 
      /*bootstrap grid column class add additional padding 15 px to field.
  inorder to keep arrow icon in correct place added flowing line   top: 30px;
  and commented
  top: 7px;*/
   top: 7px;
}

/*style the items (options), including the selected item:*/
.selectItems div, .selectSelected {
  color: #3b3b3b;
  /*padding: 8px 16px;*/
  padding-top: 3px;
  padding-bottom:2px;
padding-left: 4px;
padding-right: 4px;

  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}
/*duplicated as it need to override*/
.selectSelected {
  border-color: transparent transparent rgba(0, 0, 0, 0.849) transparent;

}

.lableOnLeftSelectItems div, .lableleftSelectSelected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.selectItems {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.842);
  top:100%;
  left: 0px;
  right: 0px;
  z-index: 99;
  max-height: 0; /* Limit height */
  overflow-y: hidden;   /* Enable vertical scroll */
  transition: max-height 200ms ease;


}

.lableOnLeftSelectItems {
  position: absolute;
  background-color: DodgerBlue;
  top:100%;
  left: 0px;
  right: 0px;
  z-index: 99;
  max-height: 0; /* Limit height */
  overflow-y: hidden;  
  transition: max-height 200ms ease;
}
.selectShow {
  max-height: 300px; /* or whatever fits your content */
  /*opacity: 1;*/
  /* overflow-y: auto;   Enable vertical scroll */
  visibility: visible;
}
/*hide the items when the select box is closed:*/
.selectHide {
   /* opacity: 0;*/
  max-height: 0;
}

.selectItems div:hover, .sameAsSelected {
  background-color: rgba(0, 0, 0, 0.1);
}
.lableOnLeftSelectItems div:hover, .sameAsSelected {
  background-color: rgba(0, 0, 0, 0.1);
}
.container{
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px
}
.topLableContainer
{
  font-family: Form;
  font-size: 13px;
  padding-bottom: 5px;
}
.lableContainer
{
  font-family: Form;
  font-size: 81.25%;;
  padding-top: 18px;/*common util "container" defind 15px,and this will overight with 18 inorder to aligne lable with user entered form field value*/
  /*text-align: right;*//*uncomment this line if your theam needs right aligned lables*/ 
}
@media screen and (min-width:576px){
.lableContainer
{
    font-family: Form;
    font-size: 81.25%;;
    padding-top: 18px;/*common util "container" defind 15px,and this will overight with 18 inorder to aligne lable with user entered form field value*/
    padding-bottom: 0px;
    text-align: left;/*if any one decide to go with right aligned left side labels this line will ensure correct behaviour for smalller screens(when resposive)*/ 
}
}
.topLableContainer
{
font-family: Form;
font-size: 13px;
padding-bottom: 5px;
}
.formField{
font-family: Form;
font-size: 14px;
width: 100%;
}
.dropdownParent{
position: relative;
}
.highlighted{
background-color: rgb(129, 191, 252);
}

.dropUp {
top: auto;
bottom: 100%;
}
.enableScroll {
overflow-y: auto;/* Enable vertical scroll */
overflow-x: auto;
}
.selectItems::-webkit-scrollbar {
width: 10px; 
}
.selectItems::-webkit-scrollbar-track {
background-color: rgba(0, 0, 0, 0);
box-shadow: inset 0 0 10px 10px rgba(133, 129, 129, 0);
border: solid 3px transparent;
}
.selectItems::-webkit-scrollbar-thumb {
border-radius: 7px;
box-shadow: inset 0 0 10px 10px rgba(122, 122, 122, 0.5);
border: solid 3px transparent;
}
.selectItems::-webkit-scrollbar-thumb:hover {
box-shadow: inset 0 0 10px 10px rgba(134, 134, 134, 0.8);
}
.selectItems::-webkit-scrollbar-corner {
background-color: rgba(255, 255, 255, 0.842);/* or any color you prefer */
}