@font-face{
    src:url('../../resources/fonts/Roboto-VariableFont_wdth\,wght.ttf');
    font-family:Plain;
}
@font-face{
    src:url('../../resources/fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf');
    font-family:Plain-Italic;
}
@font-face{
    src:url('../../resources/fonts/Roboto-VariableFont_wdth\,wght.ttf');
    font-family:Brand;
}
@font-face{
    src:url('../../resources/fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf');
    font-family:Brand-Italic;
}
