@import "../../typo.module.scss";
@import "../../color-palette.scss";
//------------------------basic login--------------------------//
$paddingLeft:15px;
$paddingRight:15px;
.h1{
    font-family: Plain !important;
    font-size: 96px;
    font-weight: 300;/*light*/
    color:$on-serface-lt;
    letter-spacing: -1.5px;
    padding-left: $paddingLeft;
    padding-right: $paddingRight;
    /*font color on-serface or on-primary*/
}
.h2{
    font-family: Plain !important;
    font-size: 60px;
    font-weight: 300;/*light*/
    color:$on-serface-lt;
    letter-spacing: -0.5px;
    padding-left: $paddingLeft;
    padding-right: $paddingRight;
    /*font color on-serface or on-primary*/
}
.h3{
    font-family: Plain;
    font-size: 48px;
    font-weight: 400;/*Regulur*/
    color:$on-serface-lt;
    letter-spacing: 0px;
    padding-left: $paddingLeft;
    padding-right: $paddingRight;
    /*font color on-serface or on-primary*/
}
.h4{
    font-family: Plain;
    font-size: 34px;
    font-weight: 400;/*Regulur*/
    color:$on-serface-lt;
    letter-spacing: 0.25px;
    padding-left: $paddingLeft;
    padding-right: $paddingRight;
    /*font color on-serface or on-primary*/
}
.h5{
    font-family: Plain;
    font-size: 24px;
    font-weight: 400;/*Regulur*/
    color:$on-serface-lt;
    letter-spacing: 0px;
    padding-left: $paddingLeft;
    padding-right: $paddingRight;
    /*font color on-serface or on-primary*/
}
.h6{
    font-family: Plain;
    font-size: 20px;
    color:$on-serface-lt;
    font-weight: 500;/*light*/
    letter-spacing: 0.15px;
    padding-left: $paddingLeft;
    padding-right: $paddingRight;
    /*font color on-serface or on-primary*/
}
.sub1{
    font-family: Plain;
    font-size: 16px;
    color:$on-serface-lt;
    font-weight: 400;/*light*/
    letter-spacing: 0.15px;
    padding-left: $paddingLeft;
    padding-right: $paddingRight;
    /*font color on-serface or on-primary*/
}